<h1>Account: <%= @account.account_number %></h1>

<p>Your account balance is: <b>$<%= @account.balance %></b></p>
<% if(@account.is_open) %>
  <p>Account is open.</p>
  <% else %>
  <p>Account is closed.</p>
<% end %>
<p>Account description: <%= @account.description %></p>


