<h1>Transactions</h1>

<table class="table table-striped">
    <tr>
        <th>Credits</th>
        <th>Debits</th>
        <th>Acc Number</th>
        <th>Created at</th>
    </tr>
    <% @transactions.each do |t| %>
        <tr>
            <td><%= t.credits %></td>
            <td><%= t.debits %></td>
            <td><%= t.account.account_number %></td>
            <td><%= t.created_at %></td>
        </tr>
    <% end %>
</table>