<h1>Transactions for account <%= @account.account_number %> </h1>

<% @transactions.each do |t| %>
    <p>Type: <%= t.transaction_type.capitalize %></p>
    <p>Credits: <%= t.credits %></p>
    <p>Debits: <%= t.debits %></p>
    <hr>
<% end %>