<h1>Account Numbers</h1>
<% @accounts.each do |a| %>
  <% if(a.is_open) %>
    <p><%= link_to(a.account_number, customer_account_path(@get_customer.id,  a.id)) %></p>
  <% end %>
<% end %>
<%= link_to("Open Account", new_customer_account_path(), class: "btn btn-default") %>
